form#ios input[type=password] {
    height: 50px;
    width: 40px;
    text-align: center;
    font-size: 2em;
    border: 1px solid #000;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}

.pin-form {
    /*margin: 0 auto;*/
    margin-left: 290px;
    width: 190px;
}

.round-button {
    display: block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: #1755f5;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 3px gray;
    font-size: 40px;
    font-weight: bold;

    margin: 10px auto 0px auto;
}

.round-button:active {
    box-shadow: 0 0 20px rgba(31, 92, 245, 0.65);
    /*background : rgba(81, 204, 239, 0.09);*/
    border: 1px solid rgba(39, 100, 255, 0.29);
    color: rgba(23, 88, 255, 0.75);

}

#login-employee-list {
    text-align: left;
    display: inline-block;

}

/* === Inline CSS from login.html === */
.user-selected {
    background-color: rgba(255, 0, 0, 0.90) !important;
    opacity:0.8;

}


div.photo_wrapper{
   /* float:left; /* important */
    position:relative; /* important(so we can absolutely position the description div */
    margin-right: 5px;

}
div.photo_description{
    text-align: center;
    position:absolute; /* absolute position (so we can position it where we want)*/
    bottom:10px; /* position will be on bottom */
    left:0px;
    width:100%;
    /* styling bellow */
    background-color: rgba(0, 101, 119, 0.97);
    font-family: 'tahoma',serif;
    font-size:18px;
    color:white;  
    opacity:0.8;
}
p.photo_description_content{
    padding:10px;
    margin:0;
}
/* === End of Inline CSS from login.html === */
.dataInProgress{
    position: absolute;
    z-index: 999;
    top: 5px;
    right: 5px;
    color: white;
}
