<ion-view title="Cart" left-buttons="leftButtons">
    <ion-content>
        <div class="row user-info">
            <div class="col">
                <img class="thumbnail" src="img/avatar-big.png" width="100" height="100"/>
                <h1>M. Oğuzhan Ataman</h1>
                <button class="button button-positive">Alışverişi Bitir</button>
            </div>
        </div>
            <div class="row">
                    <div class="col col-50">
                        <h2>Toplam Bedel</h2>
                        <p class="price-tag">200 TL</p>
                    </div>
                    <div class="col col-50">
                        <h2>Kampanya Bilgisi</h2>
                        <ul>
                        <li>Kampanya İsmi: Anneler Günü</li>
                        <li>Kampanya İndirim: %25</li>
                        <li>İndirim Sonrası Toplam: 150TL</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-offset-33 bar bar-subheader">
                        <h2 class="title">Sepetteki Ürünler</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ion-slide-box on-slide-changed="slideHasChanged(product,$index)" active-slide="sliderState" show-pager="false">
                            <ion-slide>
                                <div class="col" style="background-color:green;"><h1><br><br><br><br>EKLE<br><br><br><br><br></h1></div>
                            </ion-slide>
                            <ion-slide>
                                <div class="row">
                                    <div class="col col-50" style="float:left;">
                                        <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>
                                        <h2>Ürün İsmi</h2>
                                        <p>Fiyat: 200TL</p>
                                        <p>Kampanya bilgileri</p>
                                    </div>
                                    <div class="col col-25">
                                        <h2>Birim Fiyatı</h2>
                                        <p class="price-tag">100TL</p>
                                    </div>
                                    <div class="col col-25">
                                        <h2>Kampanyalı Fiyatı</h2>
                                        <p class="price-tag">75TL</p>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="col" style="background-color:red;"><h1><br><br><br><br>İPTAL<br><br><br><br><br></h1></div>
                            </ion-slide>
                        </ion-slide-box>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <ion-slide-box on-slide-changed="slideHasChanged(product,$index)" active-slide="sliderState" show-pager="false">
                            <ion-slide>
                                <div class="col" style="background-color:green;"><h1><br><br><br><br>EKLE<br><br><br><br><br></h1></div>
                            </ion-slide>
                            <ion-slide>
                                <div class="row">
                                    <div class="col col-50">
                                        <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>
                                        <h2>Ürün İsmi</h2>
                                        <p>Fiyat: 200TL</p>
                                        <p>Kampanya bilgileri</p>
                                    </div>
                                    <div class="col col-25">
                                        <h2>Birim Fiyatı</h2>
                                        <p class="price-tag">100TL</p>
                                    </div>
                                    <div class="col col-25">
                                        <h2>Kampanyalı Fiyatı</h2>
                                        <p class="price-tag">75TL</p>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="row" style="background-color:red;"><h1><br><br><br><br>İPTAL<br><br><br><br><br></h1></div>
                            </ion-slide>
                        </ion-slide-box>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>