<ion-view title="Cart" left-buttons="leftButtons">
    <ion-content has-header="true">
        <div ng-controller="cartCtrl">
            <div class="list">
                <div class="row">
                    <div class="col col-20">
                        <img ng-src="{{currentCustomer.photoData}}" width="150px" height="150px"/>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h1>{{currentCustomer.name}}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h2>Toplam Bedel</h2>
                                <p class="price-tag">{{cart.totalPrice}} TL</p>
                                <button class="button button-positive" ng-click="cartReset()">Alışverişi Bitir</button>
                            </div>
                            <div class="col">
                                <h2>Kampanya Bilgisi</h2>
                                <ul>
                                <li>Kampanya İsmi: {{campaign.name}}</li>
                                <li>Kampanya İndirim: {{campaign.discount}} </li>
                                <li>İndirim Sonrası Toplam: {{cart.getTotalDiscountedPrice}} </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h2 class="title">Sepetteki Ürünler</h2>
            </div>

            <div class="row list">
                <div class="col">
                    <ion-list>
                        <ion-item>
                            <div class="row list" ng-repeat="it in cart.cartItems">
                                <ion-slide-box on-slide-changed="cartSlideHasChanged(it,$index)" active-slide="sliderState" show-pager="false">
                                    <ion-slide>
                                        <div class="row">
                                            <div class="col col-25">
                                                <img ng-src="{{it.photo}}"  width="150px" height="150px"/>
                                            </div>
                                            <div class="col col-25">
                                                <h3>{{it.name}}</h3>
                                                <p>Fiyat: {{it.price * it.amount}} TL </p>
                                                <p>Miktar: {{it.amount}}</p>
                                            </div>
                                            <div class="col col-25">
                                                <h3>Birim Fiyatı</h3>
                                                <p class="price-tag">{{it.price}}TL</p>
                                            </div>
                                            <div class="col col-25">
                                                <h3>Kampanyalı Fiyatı</h3>
                                                <p class="price-tag"> {{it.discountedPrice}} TL</p>
                                            </div>
                                        </div>
                                    </ion-slide>
                                    <ion-slide>
                                        <div class="row">
                                            <div style="background-color:red; text-align:center; height:150px; line-height:150px; font-size:40px; margin-left: 10px;">İPTAL</div>
                                        </div>
                                    </ion-slide>
                                </ion-slide-box>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>