<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <title>Hello World</title>
    <script src=".http://jsconsole.com/remote.js?D04C4B56-57F6-446B-8365-866B16C533BA"></script>
    <style>
        .user-info img{
        float: left;
        margin: 10px 10px 0 0;
        }
        .col-xs-6 img {
        float: left;
        margin: 10px 10px 0 0;
        }
        .product-recommendations {
        padding: 20px 0;
        text-align: center;
        background-color: #eee;
        }
        .price-tag {
            font-size: 36px;
            font-family: Georgia;
            font-style: italic;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row user-info">
        <div class="col-xs-12">
            <img class="thumbnail" src="../img/avatar-big.png" width="100" height="100"/>
            <h1>M. Oğuzhan Ataman</h1>
            <button class="btn btn-success">Alışverişi Bitir</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h2>Toplam Bedel</h2>
            <p class="price-tag">200 TL</p>
        </div>
        <div class="col-xs-6">
            <h2>Kampanya Bilgisi</h2>
            <ul>
            <li>Kampanya İsmi: Anneler Günü</li>
            <li>Kampanya İndirim: %25</li>
            <li>İndirim Sonrası Toplam: 150TL</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Sepetteki Ürünler</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <img class="thumbnail" src="../img/placeholder_large.png" width="200" height="200"/>
            <h2>Ürün İsmi</h2>
            <p>Fiyat: 200TL</p>
            <p>Kampanya bilgileri</p>
        </div>
        <div class="col-xs-3">
            <h2>Birim Fiyatı</h2>
            <p class="price-tag">100TL</p>
        </div>
        <div class="col-xs-3">
            <h2>Kampanyalı Fiyatı</h2>
            <p class="price-tag">75TL</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <img class="thumbnail" src="../img/placeholder_large.png" width="200" height="200"/>
            <h2>Ürün İsmi</h2>
            <p>Fiyat: 200TL</p>
            <p>Kampanya bilgileri</p>
        </div>
        <div class="col-xs-3">
            <h2>Birim Fiyatı</h2>
            <p class="price-tag">100TL</p>
        </div>
        <div class="col-xs-3">
            <h2>Kampanyalı Fiyatı</h2>
            <p class="price-tag">75TL</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">
            app.initialize();
        </script>
</body>
</html>