<ion-view title="Customer Details" left-buttons="leftButtons">
    <ion-content>
        <div>
            <div class="row">
                <div class="col col-33">
                    <img class="thumbnail" ng-src="{{currentCustomer.photoData}}" width="200" height="200"/>
                </div>
                <div class="col">
                    <h1>{{currentCustomer.name}}</h1>
                    <button class="button button-positive" ng-click="goToCart()">Sepete Git</button>
                </div>
            </div>

            <div class="row">
                <div class="col col-50">
                    <ion-list>
                        <ion-item>
                            <div class="row" ng-repeat="product in productList.left | limitTo: 10">
                                <div class="col">
                                    <ion-slide-box on-slide-changed="slideHasChanged(product,$index)" active-slide="sliderState" show-pager="false">
                                        <ion-slide>
                                            <div class="col" style="background-color:green; text-align:center; height:200px; line-height:200px; font-size:40px;" >
                                            EKLE</div>
                                        </ion-slide>
                                        <ion-slide>
                                            <div class="row">
                                                <div class="col col-33">
                                                    <img class="thumbnail" ng-src="{{product.photo}}" width="200" height="200"/>
                                                </div>
                                                <div class="col">
                                                    <h2>{{product.name}}</h2>
                                                    <p>{{product.price}}</p>
                                                </div>
                                            </div>
                                        </ion-slide>
                                        <ion-slide>
                                            <div class="col" style="background-color:red; text-align:center; height:200px; line-height:200px; font-size:40px;">İPTAL</div>
                                        </ion-slide>
                                    </ion-slide-box>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
                
                <div class="col col-50">
                <ion-list>
                        <ion-item>
                            <div class="row" ng-repeat="product in productList.right | limitTo: 10"  >    
                                <div class="col">
                                    <ion-slide-box on-slide-changed="slideHasChanged(product,$index)" active-slide="sliderState" show-pager="false">
                                        <ion-slide>
                                            <div class="col" style="background-color:green; text-align:center; height:200px; line-height:200px; font-size:40px;">EKLE</div>
                                        </ion-slide>
                                        <ion-slide>
                                            <div class="row">
                                                <div class="col col-33">
                                                    <img class="thumbnail" ng-src="{{product.photo}}" width="200" height="200"/>
                                                </div>
                                                <div class="col">
                                                    <h2>{{product.name}}</h2>
                                                    <p>{{product.price}}</p>
                                                </div>
                                            </div>
                                        </ion-slide>
                                        <ion-slide>
                                            <div class="col" style="background-color:red; text-align:center; height:200px; line-height:200px; font-size:40px;">İPTAL</div>
                                        </ion-slide>
                                    </ion-slide-box>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>

            <div class="row">
                <h2> silinenler </h2>
            </div>
            <div class="row">
                <ion-list>
                    <ion-item>
                        <div class="row" ng-repeat="it in deletedProducts | limitTo:10">
                            <div class="col">
                                <ion-slide-box on-slide-changed="deletedItemSlideHasChanged(it,$index)" active-slide="sliderState" show-pager="false">
                                    <ion-slide>
                                        <div class="row">
                                            <div class="col" style="background-color:green; text-align:center; height:200px; line-height:200px; font-size:40px;">EKLE</div>
                                        </div>
                                    </ion-slide>
                                    <ion-slide>
                                        <div class="row">
                                            <div class="col col-33">
                                                <img class="thumbnail" ng-src="{{it.photo}}" width="200" height="200"/>
                                            </div>
                                            <div class="col">
                                                <h2>{{it.name}}</h2>
                                                <p>{{it.price}}</p>
                                            </div>
                                        </div>
                                    </ion-slide>
                                </ion-slide-box>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>