<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 user-info">
            <img class="thumbnail" src="img/avatar-big.png" width="300" height="300"/>
            <h1>M. Oğuzhan Ataman</h1>
            <a href="#/cart">Sepete Git</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="row" ng-repeat="product in productList.left"  >    
                <div class="col-xs-12" ng-show="!showActions" ng-swipe-left="showActions = true">
                    <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>
                    <h2>{{product.id}}</h2>
                    <p>{{product.description}}</p>
                    <p>{{product.fiyat}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row" ng-repeat="product in productList.right"  >    
                <div class="col-xs-12" ng-show="!showActions" ng-swipe-left="showActions = true">
                    <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>
                    <h2>{{product.id}}</h2>
                    <p>{{product.description}}</p>
                    <p>{{product.fiyat}}</p>
                </div>
            </div>
        </div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div style="background-color: blue;" class="box blue"><h1>BLUE</h1></div>
          </ion-slide>
          <ion-slide>
            <div class="box yellow" style="background-color:yellow;"><h1>YELLOW</h1></div>
          </ion-slide>
          <ion-slide>
            <div class="box pink" style="background-color: red;"><h1>PINK</h1></div>
          </ion-slide>
        </ion-slide-box>
    </div>

</div>

    <pre>
    xxx
        {{
            productList | json
        }}
        xx
    </pre>