<ion-view title="Customer Details" left-buttons="leftButtons">
    <ion-content>
        <div ng-controller="customerDetailCtrl">
            <div class="row">
                <div class="col col-20">
                    <img class="thumbnail" src="img/avatar-big.png" width="200" height="200"/>
                </div>
                <div class="col">
                    <h1>M. Oğuzhan Ataman</h1>
                    <button class="button button-positive" ng-click="goToCart()">Sepete Git</button>
                </div>
            </div>

            <div class="row">
                <div class="col col-50">
                    <ion-list>
                        <ion-item>
                            <div class="row list" ng-repeat="product in productList.left | limitTo: 10">
                                <div class="col item item-thumbnail-left">
                                    <ion-slide-box on-slide-changed="slideHasChanged(product,$index)" active-slide="sliderState" show-pager="false">
                                        <ion-slide>
                                            <div class="col" style="background-color:green;" ><h1><br><br><br><br>EKLE<br><br><br><br><br></h1></div>
                                        </ion-slide>
                                        <ion-slide>
                                            <div class="col">
                                                <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>
                                                <h2>{{product.id}}</h2>
                                                <p>{{product.description}}</p>
                                                <p>{{product.fiyat}}</p>
                                            </div>
                                        </ion-slide>
                                        <ion-slide>
                                            <div class="col" style="background-color:red;"><h1><br><br><br><br>İPTAL<br><br><br><br><br></h1></div>
                                        </ion-slide>
                                    </ion-slide-box>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
                
                <div class="col col-50">
                <ion-list>
                        <ion-item>
                            <div class="row list" ng-repeat="product in productList.right | limitTo: 10"  >    
                                <div class="col item item-thumbnail-left">
                                    <ion-slide-box on-slide-changed="slideHasChanged(product,$index)" active-slide="sliderState" show-pager="false">
                                        <ion-slide>
                                            <div class="col" style="background-color:green;" height="200"><h1><br><br><br><br>EKLE<br><br><br><br><br></h1></div>
                                        </ion-slide>
                                        <ion-slide>
                                            <div class="col">
                                                <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>
                                                <h2>{{product.id}}</h2>
                                                <p>{{product.description}}</p>
                                                <p>{{product.fiyat}}</p>
                                            </div>
                                        </ion-slide>
                                        <ion-slide>
                                            <div class="col" style="background-color:red;"><h1><br><br><br><br>İPTAL<br><br><br><br><br></h1></div>
                                        </ion-slide>
                                    </ion-slide-box>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>