<ion-view title="Customer List" left-buttons="leftButtons">
    <ion-content>
        <div class="row">
            <div class="col col-50" ng-repeat="customers in customerList">

                <div class="row item item-avatar" ng-repeat="customer in customers"
                     ng-click="selectCustomer(customer.customerId)">
                    <div class="col-33">
                        <img class="thumbnail" ng-src="{{customer.photoUrl}}" width="150" height="150"/>
                    </div>

                    <div class="col" style="margin-left:35px;">
                        <h2>{{customer.name}} <small style="float: right"> {{customer.distance}} <i class="icon ion-ios7-location-outline"></i> </small></h2>
                        <hr/>

                        <p>Geliş zamanı:    <b>{{customer.shopEnterTime}}</b> önce</p>
                        <div ng-show="customer.employeeId">
                            <p>Kİ:  <b>{{customer.employeeName}}</b>, <span style="font-size: smaller">{{customer.lastUpdateTime}}</span></p>
                        </div>
                        <br/>
                        <small style="float: right">15`</small>
                        <p>

                            <i class="icon ion-minus-circled" ng-show="customer.doNotDisturbMe"></i>

                            <!--<i class="icon ion-ios7-pricetagr"></i>
                            <i class="icon ion-ios7-star-half"></i>
                            <i class="icon ion-ios7-star"></i>
                            <i class="icon ion-ios7-star-outline"></i>
                            <i class="icon ion-ios7-cart"></i>
                            <i class="icon ion-ios7-clock-outline"></i>
                            <i class="icon ion-ios7-pulse"></i>
                            <i class="icon ion-ios7-locked"></i>
                            <i class="icon ion-ios7-bell-outline"></i>
                            <i class="icon ion-android-timer"></i>
                            <i class="icon ion-ios7-unlocked"></i>
                            <i class="icon ion-ios7-infinite"></i>
                            <i class="icon ion-ios7-calculator"></i> -->
                        </p>

                    </div>
                </div>

            </div>

        </div>
    </ion-content>
</ion-view>