<ion-view title="Customer List" left-buttons="leftButtons">
    <ion-content>
        <div class="row" ng-controller="customerListCtrl">
            <div class="col col-50 list" ng-repeat="customers in customerList">
                <div class="row" ng-repeat="customer in customers">
                    <div class="col item item-avatar"><a href="#/customerDetail" ng-click="setCustomerID(customer.id)">
                        <img class="thumbnail" ng-src="{{customer.photoData}}" width="200" height="200"/>
                        <h2>{{customer.id}}</h2>
                        <p>{{customer.name}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>