<ion-view title="Login Screen">
    <ion-content has-bouncing="false">
        <div class="row">
            <div class="col">

                <ion-scroll has-bouncing="true" scrollbar-x="false" scrollbar-y="false" direction="x" style="width: 100%; height: 200px;white-space: nowrap;">
                    <div class="user-select" id="login-employee-list">
                        <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>
                        <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>
                        <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>
                        <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>
                        <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>

                    </div>
                </ion-scroll>
                <div class="row">

                    <div class="col" class="center">
                        <form id="ios" class="pin-form">

                            <input class="left" type="password" value="x" maxlength="1"/>
                            <input class="left" type="password" maxlength="1"/>
                            <input class="left" type="password" maxlength="1"/>
                            <input class="left" type="password" maxlength="1"/>
                        </form>
                    </div>

                </div>
                <div id="pin-code">

                    <div class="row">
                        <div class="col col-20"></div>
                        <div class="col"><a on-touch="audioClick()" href="#" class="round-button">1</a></div>
                        <div class="col"><a on-touch="audioClick()" href="#" class="round-button">2</a></div>
                        <div class="col"><a on-touch="audioClick()" href="#" class="round-button">3</a></div>
                        <div class="col col-20"></div>
                    </div>

                    <div class="row">
                        <div class="col col-20"></div>
                        <div class="col"><a on-touch="audioClick()" href="#" class="round-button">4</a></div>
                        <div class="col"><a on-touch="audioClick()" href="#" class="round-button">5</a></div>
                        <div class="col"><a on-touch="audioClick()" href="#" class="round-button">6</a></div>
                        <div class="col col-20"></div>
                    </div>


                    <div class="row">
                        <div class="col col-20"></div>
                        <div class="col"><a on-touch="audioClick()" href="#" class="round-button">7</a></div>
                        <div class="col"><a on-touch="audioClick()" href="#" class="round-button">8</a></div>
                        <div class="col"><a on-touch="audioClick()" href="#" class="round-button">9</a></div>
                        <div class="col col-20"></div>
                    </div>
                    <div class="row">
                        <div class="col col-20"></div>
                        <div class="col col-20"></div>
                        <div class="col"><a on-touch="audioClick()" href="#" class="round-button">0</a></div>
                        <div class="col col-20"></div>
                        <div class="col col-20"></div>
                    </div>


                </div>

            </div>
        </div>
    </ion-content>
</ion-view>