<ion-view title="Login Screen">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="user-select">
                    <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>
                    <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>
                    <img class="thumbnail" src="img/placeholder_large.png" width="200" height="200"/>
                </div>
                <div class="row">
                    <div class="col col-67 col-offset-25">
                        <div class="row">
                            <h1><a href="#/customerList">Skip To Customer List</a></h1>
                        </div>
                        <div class="row">
                            <button class="button button-positive">1</button>
                            <button class="button button-positive">2</button>
                            <button class="button button-positive">3</button>
                        </div>
                        <div class="row">
                            <button class="button button-positive">4</button>
                            <button class="button button-positive">5</button>
                            <button class="button button-positive">6</button>
                        </div>
                        <div class="row">
                            <button class="button button-positive">7</button>
                            <button class="button button-positive">8</button>
                            <button class="button button-positive">9</button>
                        </div>
                        <div class="row">
                            <div class="col col-center">
                                <button class="button button-positive">0</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>