<!DOCTYPE html>

<html ng-app="fikrimuhalStaj">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Staj </title>
    <!--<script src="http://code.createjs.com/createjs-2013.12.12.min.js"></script>-->
    <!--<script src="http://code.createjs.com/soundjs-0.5.2.min.js"></script>-->

    <link rel="stylesheet" href="css/ionic.min.css">
    <link rel="stylesheet" href="css/login.css">

    <script src="js/libs/lodash.min.js"></script>
    <script src="js/utils.js"></script>

    <script src="js/conf.js"></script>
    <script src="js/libs/ionic.bundle.min.js"></script>
    <script src="js/libs/angular.audio.js"></script>
    <script src="js/libs/md5.js"></script>

    <script src="js/app.js"></script>

    <script src="js/services/loginService.js"></script>
    <script src="js/services/cartService.js"></script>
    <script src="js/services/customerService.js"></script>
    <script src="js/services/productService.js"></script>
    <script src="js/services/storageService.js"></script>
    <script src="js/services/currentCustomerService.js"></script>

    <script src="js/controllers/sideMenuCtrl.js"></script>
    <script src="js/controllers/cartCtrl.js"></script>
    <script src="js/controllers/customerDetailCtrl.js"></script>
    <script src="js/controllers/customerListCtrl.js"></script>
    <script src="js/controllers/loginCtrl.js"></script>
    <script src="js/controllers/slideCtrl.js"></script>
</head>

<body ng-cloak ng-controller="MainCtrl">

<ion-side-menus>

    <ion-side-menu-content edge-drag-threshold="25">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
            </button>
        </ion-nav-buttons>
        <ion-nav-view animation="no-animation" name="main"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" ng-controller="sideMenuCtrl">
        <ion-header-bar class="bar-assertive">
            <h1 class="title">Left Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ul class="list">
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                <a href="#/login" class="item" menu-close>Login</a>
                <a href="#/customerList" class="item" menu-close>Customer List</a>
                <a href="#/customerDetail" class="item" menu-close>Customer Detail</a>
                <a href="#/cart" class="item" menu-close>Cart</a>
                <a href="#/attendees" class="item" menu-close>Attendees</a>
                <a href="#/login" class="item" menu-close ng-click="logout()"> Logout</a>
            </ul>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>

<audio id='tockAudio'>
    <source src="./audio/Tock.mp3" type="audio/mp3">
</audio>
   <script src="cordova.js"></script>
</body>
</html>