<ion-view title="Customer Details" left-buttons="leftButtons">
    <ion-content>
        <div ng-controller="customerInfoCtrl">
            <div class="row">
                <div class="col col-33">
                    <img class="thumbnail" src="img/avatar-big.png" width="200" height="200"/>
                </div>
                <div class="col">
                    <h1>M. Oğuzhan Ataman</h1>
                </div>
            </div>

            <label class="item item-input">
              <span class="input-label">UUID VALUE</span>
              <input type="text" ng-model="uuidValue" >
            </label>

            <label class="item item-input">
              <span class="input-label">MAJOR VALUE</span>
              <input type="text" ng-model="majorValue">
            </label>

            <label class="item item-input">
              <span class="input-label">MINOR VALUE</span>
              <input type="text" ng-model="minorValue">
            </label>

            <label class="item item-input">
              <span class="input-label">IDENTIFIER VALUE</span>
              <input type="text" ng-model="idValue">
            </label>
            
            <button class="button button-positive" ng-click="sender()">uygula</button>
        
        </div>
    </ion-content>
</ion-view>